## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'], axis=1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
application_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [5]:
# Look at APPLICATION_TYPE value counts for binning
value_count = application_df['APPLICATION_TYPE'].value_counts()
value_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(value_count[value_count<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_value_count = application_df['CLASSIFICATION'].value_counts()
class_value_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x > 1]
greater_than

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(greater_than[greater_than<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies = pd.get_dummies(application_df)
app_dummies.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop('IS_SUCCESSFUL', axis=1)
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Get the input shape
X_train_scaled.shape[0]
X_train_scaled.shape[1]

19638

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train_scaled.shape[1]

hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 4

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 157112

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 157,153
Trainable params: 157,153
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5999 - accuracy: 0.7081
Epoch 2/100
804/804 [==============================] - 6s 7ms/step - loss: 0.3599 - accuracy: 0.8477
Epoch 3/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1772 - accuracy: 0.9252
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1395 - accuracy: 0.9357
Epoch 5/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1270 - accuracy: 0.9382
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1195 - accuracy: 0.9414
Epoch 7/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1159 - accuracy: 0.9493
Epoch 8/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1135 - accuracy: 0.9512
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1119 - accuracy: 0.9522
Epoch 10/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1108 - accuracy: 0.9526
Epoch 11/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1099 - accuracy: 0.9524
Epoch 12/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1092 - accuracy: 0.9532
Epoch 13/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1085 - accuracy: 0.9531
Epoch 14/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1082 - accuracy: 0.9540
Epoch 15/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1080 - accuracy: 0.9533
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1071 - accuracy: 0.9539
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1070 - accuracy: 0.9534
Epoch 18/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1066 - accuracy: 0.9535
Epoch 19/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1063 - accuracy: 0.9537
Epoch 20/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1099 - accuracy: 0.9541
Epoch 21/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1094 - accuracy: 0.9530
Epoch 22/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1033 - accuracy: 0.9555
Epoch 23/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1015 - accuracy: 0.9560
Epoch 24/100
804/804 [==============================] - 5s 6ms/step - loss: 0.1002 - accuracy: 0.9560
Epoch 25/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0998 - accuracy: 0.9560
Epoch 26/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0997 - accuracy: 0.9564
Epoch 27/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0985 - accuracy: 0.9568
Epoch 28/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0986 - accuracy: 0.9565
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0989 - accuracy: 0.9563
Epoch 30/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0982 - accuracy: 0.9568
Epoch 31/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0978 - accuracy: 0.9570
Epoch 32/100
804/804 [==============================] - 6s 8ms/step - loss: 0.0977 - accuracy: 0.9567
Epoch 33/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0970 - accuracy: 0.9573
Epoch 34/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0966 - accuracy: 0.9578
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0965 - accuracy: 0.9581
Epoch 36/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0959 - accuracy: 0.9579
Epoch 37/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0964 - accuracy: 0.9578
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0961 - accuracy: 0.9578
Epoch 39/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0957 - accuracy: 0.9574
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0955 - accuracy: 0.9580
Epoch 41/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0954 - accuracy: 0.9581
Epoch 42/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0950 - accuracy: 0.9579
Epoch 43/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0956 - accuracy: 0.9582
Epoch 44/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0951 - accuracy: 0.9583
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0938 - accuracy: 0.9596
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0931 - accuracy: 0.9603
Epoch 47/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0933 - accuracy: 0.9602
Epoch 48/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0929 - accuracy: 0.9603
Epoch 49/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0934 - accuracy: 0.9601
Epoch 50/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0928 - accuracy: 0.9607
Epoch 51/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0920 - accuracy: 0.9612
Epoch 52/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0919 - accuracy: 0.9612
Epoch 53/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0914 - accuracy: 0.9617
Epoch 54/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0916 - accuracy: 0.9614
Epoch 55/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0914 - accuracy: 0.9612
Epoch 56/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0909 - accuracy: 0.9617
Epoch 57/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0909 - accuracy: 0.9623
Epoch 58/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0899 - accuracy: 0.9625
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0928 - accuracy: 0.9615
Epoch 60/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0993 - accuracy: 0.9591
Epoch 61/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0931 - accuracy: 0.9601
Epoch 62/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0914 - accuracy: 0.9613
Epoch 63/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0904 - accuracy: 0.9615
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0899 - accuracy: 0.9627
Epoch 65/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0900 - accuracy: 0.9626
Epoch 66/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0897 - accuracy: 0.9631
Epoch 67/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0896 - accuracy: 0.9625
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0895 - accuracy: 0.9628
Epoch 69/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0896 - accuracy: 0.9630
Epoch 70/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0892 - accuracy: 0.9625
Epoch 71/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0895 - accuracy: 0.9627
Epoch 72/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0890 - accuracy: 0.9626
Epoch 73/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0892 - accuracy: 0.9628
Epoch 74/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0889 - accuracy: 0.9631
Epoch 75/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0890 - accuracy: 0.9636
Epoch 76/100
804/804 [==============================] - 8s 10ms/step - loss: 0.0891 - accuracy: 0.9630
Epoch 77/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0889 - accuracy: 0.9635
Epoch 78/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0890 - accuracy: 0.9632
Epoch 79/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0887 - accuracy: 0.9635
Epoch 80/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0885 - accuracy: 0.9629
Epoch 81/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0887 - accuracy: 0.9633
Epoch 82/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0885 - accuracy: 0.9634
Epoch 83/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0887 - accuracy: 0.9633
Epoch 84/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0887 - accuracy: 0.9630
Epoch 85/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0883 - accuracy: 0.9637
Epoch 86/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0881 - accuracy: 0.9639
Epoch 87/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0884 - accuracy: 0.9631
Epoch 88/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0883 - accuracy: 0.9630
Epoch 89/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0882 - accuracy: 0.9640
Epoch 90/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0879 - accuracy: 0.9637
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0882 - accuracy: 0.9638
Epoch 92/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0877 - accuracy: 0.9636
Epoch 93/100
804/804 [==============================] - 5s 7ms/step - loss: 0.0880 - accuracy: 0.9640
Epoch 94/100
804/804 [==============================] - 6s 7ms/step - loss: 0.0878 - accuracy: 0.9636
Epoch 95/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0878 - accuracy: 0.9639
Epoch 96/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0878 - accuracy: 0.9642
Epoch 97/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0877 - accuracy: 0.9637
Epoch 98/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0875 - accuracy: 0.9635
Epoch 99/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0873 - accuracy: 0.9641
Epoch 100/100
804/804 [==============================] - 5s 6ms/step - loss: 0.0873 - accuracy: 0.9645

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5927 - accuracy: 0.7597 - 739ms/epoch - 3ms/step
Loss: 0.5927447080612183, Accuracy: 0.7596501708030701

In [17]:
# Export our model to HDF5 file
nn.save('/content/HDF5/AlphabetSoupCharity.h5')